@import url(https://fonts.googleapis.com/css?family=Open+Sans);
p.pheader {
  font-family: "Open Sans", Semi-Bold 600;
  font-size: 200%;
  color: #ff7417;
}

p.pbody {
  font-family: "Open Sans", Semi-Bold 600;
  font-size: 150%;
  color: #9fa9a3;
}

p.psbody {
  font-family: "Open Sans", Semi-Bold 600;
  font-size: 100%;
  color: #9fa9a3;
}